<html>
    <head>
        <title>Headlines</title>
    </head>
    <body>
        <h1>Headlines.!</h1>
        <b>{{article.title}}</b> <br/>
        <i>{{article.published}}</i> <br/>
        <p>{{article.summary}}</p> <br/>
    </body>
</html>
